<!-- Header -->
<link rel="icon" href="/images/favicon.ico" />
<header class="header">
  <!-- Website Name -->
  <div class="header-content">
    <a href="/" class="logo-link">CLT Social</a>
  </div>
</header>
