<!-- Header -->
<header class="header">
  <div class="logo">
    <span class="hamburger" onclick="toggleSidebar()">
      <i class="fas fa-bars" style="color: white"></i>
      <!-- Hamburger Menu Icon -->
    </span>
  </div>
  <div class="user-profile">
    <span class="notification-icon">
      <i class="fas fa-bell" style="color: black"></i>
      <!-- FontAwesome Bell Icon -->
    </span>
    <span class="profile-icon">
      <i class="fas fa-user" style="color: black"></i>
      <!-- FontAwesome User Icon -->
    </span>
  </div>
</header>
