<!-- Sidebar -->
<aside class="sidebar">
  <ul class="menu">
      <li class="mt-auto">
          <a href="/">
              <i class="fas fa-home menu-icon"></i> <!-- FontAwesome Home icon -->
              Dashboard
          </a>
      </li>
      <li>
          <a href="/events">
              <i class="fas fa-calendar-alt menu-icon"></i> <!-- FontAwesome Calendar icon -->
              Events
          </a>
      </li>
      <li>
          <a href="/events/create">
              <i class="fas fa-plus-circle menu-icon"></i> <!-- FontAwesome Plus Circle icon -->
              Create Event
          </a>
      </li>
      <li>
          <a href="/profile">
              <i class="fas fa-chart-pie menu-icon"></i> <!-- FontAwesome Pie Chart icon -->
              My Stats
          </a>
      </li>
      <li>
          <a href="/login">
              <i class="fas fa-user menu-icon"></i> <!-- FontAwesome User icon -->
              Login
          </a>
      </li>
  </ul>
  <div class="support">
    <a href="/support" class="support-link">Help & Support</a>
    <i class="fas fa-question-circle menu-icon"></i> <!-- FontAwesome Question Mark icon -->
  </div>  
</aside>
