/* Page-Specific CSS for index.html */

/*Imports colors*/
@import url('colors.css');

/* Hero Section */
.hero-section {
    margin-top: 20px;
  }
  
  .hero-section img {
    height: 400px;
    object-fit: cover;
  }
  
  /* Upcoming Events Section */
  .upcoming-events h2 {
    color: var(--primary-color);
  }
  
  .card {
    border: 2px solid var(--primary-color);
  }
  
  .card-title {
    color: var(--primary-color);
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }